services:
  hytale:
    build: .
    image: ghcr.io/godstepx/docker-hytale-server:latest
    container_name: hytale-server
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - "5520:5520/udp"
    volumes:
      - hytale-data:/data
      # Linux only: avoid "Failed to get hardware UUID" at startup
      - /etc/machine-id:/etc/machine-id:ro
    environment:
      - JAVA_XMS=1G
      - JAVA_XMX=4G

volumes:
  hytale-data:
